table
  &.table-wrapper
    width: 100%
    padding: 10px
    text-align: center
    margin-left: auto
    margin-right: auto

  &.table-galitem
    width: 100%

  &.table-picture
    width: 100%
    text-align: center
    opacity: 1 !important

  &.table-thumbnails
    margin-left: auto
    margin-right: auto

  &.table-shadows
    border-collapse: collapse
    margin: auto
    padding: 0

td
  &.td-thumbnails-thumb
    padding: 2px 7px
    color: $colorDarkText
    font-size: 8pt
    background-color: transparent
    white-space: nowrap
    vertical-align: bottom
    text-align: center

  &.td-thumbnails-thumb-selected
    padding: 5px
    color: $color_333
    font-size: 8pt
    font-weight: 700
    background-color: transparent
    white-space: nowrap
    vertical-align: bottom
    text-align: center

  &.td-main-title
    color: $white
    font-size: 12pt
    font-weight: 700
    background-color: transparent

  &.td-main-title-spgm-link
    color: $colorCcc
    font-size: 8pt
    text-align: center
    background-color: transparent

  &.td-galitem-icon
    padding-right: 10px

  &.td-galitem-title
    font-size: 9pt
    width: 100%
    text-align: left
    font-weight: 700
    color: $colorText

  &.td-galitem-caption
    font-size: 8pt
    text-align: left

  &.td-picture-navi
    font-size: 10pt
    font-weight: 700
    color: $white
    text-align: center
    background-color: transparent

  &.td-zoom-factors
    padding: 3pt
    text-align: center

  &.td-picture-pic
    opacity: 1

  &.td-picture-filename
    font-size: 8pt
    font-weight: 700
    text-align: center
    padding: 7px
    background-color: transparent

  &.td-picture-caption
    font-size: 8pt
    text-align: center
    padding: 7px
    background-color: transparent

  &.td-shadows-right
    width: 0
    margin: 0
    padding: 0

  &.td-shadows-bottom
    height: 0
    margin: 0
    padding: 0

  &.td-shadows-bottomright
    width: 0
    margin: 0
    padding: 0

  &.td-shadows-main
    margin: 0
    padding: 0

img
  vertical-align: middle
  &.img-picture
    border: 1px solid $color_333

  &.img-folder
    border: 0

  &.img-galicon
    border: 1px solid $colorBlueAccent

  &.img-thumbnail
    border: 1px solid $color_333

  &.img-thumbnail-selected
    border: 1px solid $colorBlueAccent

  &.img-picture-prev
    border: 0

  &.img-picture-next
    border: 0

  &.img-thmbnavi-prev
    border: 0

  &.img-thmbnavi-next
    border: 0

  &.img-new
    border: 0
