.markItUp
  *
    margin: 0
    padding: 0
    outline: none

  .markItUpButton1 a
    background-image: $markItUpBold

  .markItUpButton2 a
    background-image: $markItUpItalic

  .markItUpButton3 a
    background-image: $markItUpStroke

  .markItUpButton4 a
    background-image: $markItUpBullet

  .markItUpButton5 a
    background-image: $markItUpNumeric

  .markItUpButton6 a
    background-image: $markItUpItem

  .markItUpButton7 a
    background-image: $markItUpPicture

  .markItUpButton8 a
    background-image: $markItUpThumb

  .markItUpButton9 a
    background-image: $markItUpLink

  .clean a
    background-image: $markItUpClean

  .preview a
    background-image: $markItUpPreview

.markItUp
  width: 765px
  margin: 5px 0

.poi_bm
  .markItUp
    width: 600px
    margin: 5px 0

  .markItUpEditor
    height: 200px

.markItUpContainer
  border-radius: 4px
  border: 1px solid $colorFormInputBorder
  background-color: $colorFormInput
  padding: 5px

.markItUpEditor
  padding: 5px
  border: none
  width: 98%
  height: 400px
  background-color: $colorDarkBg
  clear: both
  line-height: 18px
  overflow: auto
  resize: none
  font-family: $mainFont, $fallback
  color: $colorText
  font-size: 12px

.markItUpPreviewFrame
  overflow: auto
  background-color: $colorDarkBg
  border: 1px solid $colorMarkitupBorder
  width: 99.9%
  height: 200px
  margin: 5px 0

.markItUpFooter
  width: 100%
  cursor: n-resize

.markItUpEditor
  height: 400px

.markItUpHeader ul
  li
    list-style: none
    float: left
    position: relative
    ul
      display: none

    &:hover > ul
      display: block

  .markItUpDropMenu
    background: transparent $markItUpMenu no-repeat 115% 50%
    margin-right: 5px
    li
      margin-right: 0

  .markItUpSeparator
    margin: 0 10px
    width: 1px
    height: 16px
    overflow: hidden
    background-color: $colorCcc

  ul
    display: none
    position: absolute
    top: 18px
    left: 0
    background: $colorEee
    border: 1px solid $colorMarkitupBorder
    height: inherit
    .markItUpSeparator
      width: auto
      height: 1px
      margin: 0

    li
      float: none
      border-bottom: 1px solid $colorMarkitupBorder

    .markItUpDropMenu
      background: $colorEee $markItUpSubmenu no-repeat 100% 50%

    ul
      position: absolute
      top: -1px
      left: 150px
      li
        float: none

    a
      display: block
      text-indent: 0
      width: 120px
      padding: 5px 5px 5px 25px
      background-position: 2px 50%
      &:hover
        color: $white
        background-color: $colorMarkitupBorder

  a
    display: block
    width: 16px
    height: 16px
    text-indent: -10000px
    background-repeat: no-repeat
    padding: 3px
    margin: 0
